@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
    font-family: 'Quicksand', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: 
    "aside header"
    "aside main";
}

aside {
    grid-area: aside;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}