@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
    font-family: 'Quicksand', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
    "aside header"
    "aside main";
}

.container aside {
    grid-area: aside;
    display: grid;
    align-items:center;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(11, max-content);
    column-gap: 16px;
    row-gap: 32px;

    padding: 1rem;
    font-size: 1.5rem;
    background-color: #6d28d9;
    color: #f5f5f5;
}

aside h1, aside span:first-child {
    font-size: 2rem;
}

aside h1 {
    font-weight: 700;
}

aside a {
    text-decoration: none;
    color: white;
}

aside .large-gap {
    margin-top: 32px;
}

aside a:hover {
    text-decoration: underline #ea580c 4px;
}

.container header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: 1.5rem minmax(300px, 1fr) minmax(max-content, 7rem) minmax(max-content, 200px);
    gap: 16px;
    padding: 1rem 3rem;
}

input[type=search] {
    border: 0px;
    border-radius: 1rem;
    padding: 8px 8px;

    background-color: #c5cbe0;
    color: black;
}

input[type=search]:focus {
    outline: 2px solid #ea580c;
}

header span:nth-child(3) {
    justify-self: end;
}

.profile {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    align-items: center;
}

.profile > img {
    width: 48px;
    border-radius: 100%;
}

.welcome {
    grid-column: span 2;
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    column-gap: 16px;
    font-weight: 700;
}

.welcome > img {
    grid-row: span 2;
    width: 96px;
    border-radius: 100%;
}

.welcome > p {
    align-self: self-end;
}

.welcome > h2 {
    font-size: 2rem;
}

header nav {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-left: 20px; 
}

nav button {
    background-color: #6d28d9;
    color: whitesmoke;
    font-weight: 700;
    border: 0px;
    border-radius: 2rem;
    padding: 12px 24px;
    
}

nav button:hover {
    background-color: whitesmoke;
    outline: 3px solid #6d28d9;
    color: #6d28d9;
}

main {
    grid-area: main;
    display: grid;
    padding: 2rem 2rem 1rem;
    grid-template-columns: 3fr minmax(300px, 1fr);
    box-shadow: 0px 1px 3px 0px #454545 inset;
    background-color: #d6d6d6;
    gap: 1rem;

}

main > section:first-child {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: max-content;
    gap: 1rem;
    grid-auto-rows: 1fr;
}

section > h2 {
    grid-column: 1 / -1;
    font-size: 24px;
    font-weight: 700;
}

section > .project-container {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    background-color: white;
    background: linear-gradient(to right, #ea580c, #ea580c 12px, white 12px);
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    min-height: 150px;
}

.project-container > h3 {
    font-weight: 700;
    font-size: 1.2rem;
}

.project-container > p {
    font-size: 1.05rem;
    color:#454545;
    margin-bottom: 16px;
}

.project-container > .btn-handler {
    justify-self: end;
    color: #454545;
}

.btn-handler > span {
    margin-left: 1.5rem;
}

.btn-handler > span:hover {
    color:#6d28d9;
}

section:last-child {
    display: grid;
    grid-template-rows: max-content 1fr max-content 1fr;
    gap: 1rem;
}

.side-container {
    background-color: #fff;
    border-radius: 1rem;
    display: grid;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.side-container:first-of-type {
    margin-bottom: 2rem;
}

.announcement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-shadow: 0px 1px 0px 0px black;
}

.announcement:last-child {
    box-shadow: none;
}

.side-container:last-child {
    text-align: start;
    display: grid;
    grid-template-columns: 1fr;
}

.trending {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas: 
        "img name"
        "img project";
}

section:last-child > .side-container > .trending > img {
    grid-area: img;
    width: 64px;
    border-radius: 100%;
    padding-right: 1rem;
}

.trending p:first-of-type {
    grid-area: name;
    align-self: center;
    font-weight: 700;
}

.trending > p:last-of-type {
    grid-area: project;
}